body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
background-color: grey;
}
#heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  background-color: gray;
  color: whites;
  }

footer {
  
  text-align: center;
}
#sidebar{
width: 20%;
background-color: aqua;
}
.nav-menu{
list-style: none;

}